.login {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 81px;

    .title {
        margin-bottom: 59px;
        color: white;
        font-size: 39px;
    }

    .container-login {
        background-color: #2970CD;
        padding: 38px 45px;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        a{
            color: white;
            font-size: 17px;
            font-weight: bold;        }
        form {
            display: flex;
            flex-direction: column;

            .field {
                display: flex;
                flex-direction: column;

                label {
                    font-size: 21px;
                    margin: 6px 0px;
                    display: none;
                }
            }

            .actions {
                input {
                    background-color: #E2001A;
                    border: none;
                    width: 100%;
                    height: 49px;
                    color: white;
                    padding-left: 0px;
                    cursor: pointer;
                    &:hover {
                        background-color: #9c0012;
                        transition: 0.5s;
                    }
                }

                a{
                    color: white !important;
                }
            }

            input {
                width: 217px;
                height: 32px;
                font-size: 19px;
                border-radius: 3px;
                border: 1px solid #e5e5e5;
                padding-left: 16px;
                margin: 6px 0px;
            }
        }
    }
}
.links{
    a{
        color: white;
    }
}
@media screen and (max-width: 758px) {
    .login{
        // align-items: flex-end;
    }
}

