// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.back-black {
    background-color: #000000;
}

.welcome {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba($color: #000000, $alpha: 0.5);
    background-image: url('https://uploaddeimagens.com.br/images/001/825/620/full/CTz0TwM.jpg?1547116593');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .boceco-minion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 250px;
        }

        h1 {

            font-size: 40px;
            color: white;
            margin: 10px 0px;
            text-shadow: 1px 1px 6px #000;
            text-align: center;

        }
    }

    .btn-reserve {
        background-color: #E2001A;
        padding: 20px 32px;
        cursor: pointer;
        border-radius: 4px;

        &:hover {
            background-color: #9c0012;
            transition: 0.5s;
        }

        h1 {
            a {
                color: #fff;
            }
        }
    }
}

@media(max-width: 758px) {
    .boceco-minion {


        img {
            width: 247px;
            margin-top: 44px;
        }
    }

}